  <div class="row">
    <div class="col py-0">
    <h1 style="text-align: left;margin-left: 400px;">Category list</h1> 
    <button type="button" class="btn btn-primary btn-sm mb-3 mt-3 ms-5" style="text-align: left;margin-left: 400px;" routerLink="/administration/listCategories/addCategory">Add Category</button>
    <table class="table table-hover mb-5 mt-5" style="width: fit-content;;margin-left: 400px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th> 
            <th scope="col">Options</th>          
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let category of categoryList;let i=index">
            <th scope="row">{{category.id}}</th>
            <td>{{category.category}}</td>
            <td><button type="button" class="btn btn-primary  m-2" routerLink="/administration/listCategories/updateCategory/{{category.id}}"><i class="bi bi-pencil-square" ></i></button>
              <button type="button" class="btn btn-danger" (click)="eliminarCategory(category.id)"><i class="bi bi-trash"></i></button> 
            </td>
          </tr>
        </tbody>
      </table>
      
    </div> 
  </div>
<!-- </div> -->