      <div class="row">
          <div class="col py-0">
               <h1 style="text-align: left;margin-left: 400px;">PRODUCTS</h1> 
                          <button type="button" class="btn btn-primary btn-sm mb-3 mt-3 ms-5" routerLink="/administration/listProducts/addProduct">Add Product</button>
                              <table class="table table-hover mb-5" style="width: fit-content;margin: 3px;">
                                  <thead>
                                    <tr>
                                      <!-- <th scope="col">#</th> -->
                                      <th scope="col">Image</th>
                                      <th scope="col">Product</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let product of sortedList;let i=index">
                                      <!-- <th scope="row">{{product.id}}</th> -->
                                      <td><img src="{{product.image}}" alt="image" style="width: 80px; height: 80px;"></td>
                                      <td>{{product.title}}</td>
                                      <td>{{product.price| currency}}</td>
                                      <td><button type="button" class="m-2" routerLink="/administration/listProducts/updateProduct/{{product.id}}"><i class="bi bi-pencil-square btn-primary" ></i></button>
                                        <button type="button" class="btn btn-danger" (click)="eliminarProducto(product.id)"><i class="bi bi-trash"></i></button> 
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div> 
                      </div>
              <!-- </div>              -->
         <!--  </div>
      </div> -->
      


     
 
