:host {
  display:block;
 /*  background: #8e0e00; /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #8e0e00, #1f1c18); /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #8e0e00, #1f1c18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #f2f2f2
} 
.text-danger{
 margin-left: 7px;

}
   
    