<section class="vh-100 bg-light">
    <div class="container py-5 h-40">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../../../assets/login.jpg"
                  alt="login form" class="img-fluid"/>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0 navbar-brand">Super Market</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                    <h4 *ngIf="error">{{error}}</h4>
                   
                    <form (ngSubmit)="login()" [formGroup]="loginForm">
                    <div data-mdb-input-init class="form-outline mb-4">
                      <!-- <label class="form-label" for="user">Username</label> -->
                      <input type="text" name="username" formControlName="username" class="form-control form-control-lg" id="user" placeholder="Username" [(ngModel)]="username" />
                      <div class="text-danger" *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
                      <span>The username<strong> is required</strong></span>
                    </div>
                   </div>
                   
                   <div data-mdb-input-init class="form-outline input-group mb-4">
                      <!-- <label class="form-label" for="password">Password</label> -->
                      <input type="password" name="password" formControlName="password" class="form-control form-control-lg"  placeholder="Password" id="password" [(ngModel)]="password" />
                      <span class="input-group-text"><i class="fa fa-eye-slash" id="togglePassword" (click)="showPassword()"></i></span>
                      <div class="text-danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                      <span>The password<strong> is required</strong></span>
                    </div>
                   </div>
                  <div class="pt-1 mb-4">
                   <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit"  [disabled]="loginForm.invalid">Login</button>
                  </div>
                  </form>
                    <p class="mb-3 mt-5 pb-lg-2" style="color: #393f81;">Don't have an account? 
                      <a style="color: #393f81;" routerLink="/register" >Register here</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
