
img.grande{
 width: 140px;
 height: 140px;
position: relative;
margin: auto;
top: 5px;
bottom: 0;
left: 0;
right: 0;
}

.card:hover{
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.1s ease-in-out;
    border-radius : 5px;
}
@font-face {
    font-family: 'LobsterTwo';
    src: url('../../../assets/fonts/LobsterTwo-Italic.ttf');
}

h1 {
    font-size: 2rem;
    color:#3c3c3c;
    font-family: 'LobsterTwo', sans-serif;

}
.strong-sm{
    font-size: 13px;
    font-weight: 600 !important;
    position: relative;
    top: -.55em;    
}
.pagination{
    justify-content:center;
}
.fa-star{
    color:goldenrod;
   }
   .fa-star-half{
       color:goldenrod;
   }

   .loader {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    position: fixed;
    left : 50%;
    bottom : 0;
    right : 0;
    top : 50%;
    animation: l27 1s infinite steps(8);

    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }
